{% extends 'base/main.html' %}

{% block content %}

<style>
    .room-container{
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
</style>
<a href="{{request.META.HTTP_REFERER}}">Go Back</a>
<div class="room-container">
    <div>
        <h1>{{room.name}}</h1>

        <p>{{room.description}}</p>

        <div class="comment-wrapper">
            <h3>Conversations</h3>
            <hr>

      
            
        
                {% for message in room_messages %}
                    <div>

                        <!-- Only the matched logged in account can edit and delete a comment -->
                        {% if request.user == message.user %}
                        <a href="{% url 'edit_message' message.id %}">Edit</a>
                        <a href="{% url 'delete_message' message.id %}">Delete</a>
                        {% endif %}

                        <h5>
                            <a href="{% url 'user_profile' message.user.id %}">@{{message.user}}</a>  <small>{{message.created|timesince}} ago</small></h5>
                        <p>{{message.body}}</p>
                    </div>
                {% endfor %}
        </div>

        {% if request.user.is_authenticated %}
        <div class="comment-form">
            <form action="" method="post">
                {% csrf_token %}
                <input type="text" name="body" placeholder="Write your message here...">
            </form>
        </div>
    </div>

    <div>
        <h3>Participants</h3>
        <hr>
        
            {% for user in participants %}
                <div>
                    <p>@{{user.username}}</p>
                </div>
            {% endfor %}
        
    </div>
</div>
{% endif %}
{% endblock %}


